html {
    overflow: hidden;
}
@media (min-width: 1px) and (max-width: 368px) {
    .homeMenu {
        justify-content: center;
    }
    #loginBtn {
        width: 26%;
        padding: 2%;
        font-size: 4vh;
    }
    #registerBtn {
        width: 65%;
        padding: 2%;
        font-size: 4vh;
    }
    #mainMenuBtn {
        width: 10%;
    }
    input {
        width: 7%;
        text-align: start;
    }
}


@media (min-width: 369px) and (max-width: 560px) {
    .homeMenu {
        justify-content: center;
    }
    #loginBtn {
        width: 26%;
        padding: 2%;
        font-size: 4vh;
    }
    #registerBtn {
        width: 65%;
        padding: 2%;
        font-size: 4vh;
    }
    #mainMenuBtn {
        width: 10%;
    }
    input {
        width: 7%;
        text-align: start;
    }
}

@media (min-width: 561px)and (max-width: 768px) {
    .homeMenu {
        justify-content: center;
    }
    #loginBtn {
        width: 26%;
        padding: 2%;
        font-size: 4vh;
    }
    #registerBtn {
        width: 65%;
        padding: 2%;
        font-size: 4vh;
    }
    #mainMenuBtn {
        width: 10%;
    }
    input {
        width: 7%;
        text-align: start;
    }
}

@media (min-width: 769px)and (max-width: 950px) {
    .homeMenu {
        justify-content: center;
    }
    #loginBtn {
        width: 26%;
        padding: 2%;
        font-size: 4vh;
    }
    #registerBtn {
        width: 65%;
        padding: 2%;
        font-size: 4vh;
    }
    #mainMenuBtn {
        width: 10%;
    }
    input {
        width: 7%;
        text-align: start;
    }
}

@media (min-width: 951px) and (max-width: 1300px) {
    .homeMenu {
        justify-content: center;
    }
    #loginBtn {
        width: 26%;
        padding: 2%;
        font-size: 4vh;
    }
    #registerBtn {
        width: 65%;
        padding: 2%;
        font-size: 4vh;
    }
    #mainMenuBtn {
        width: 10%;
    }
    input {
        width: 7%;
        text-align: start;
    }
}


@media (min-width: 1301px) {
    .homeMenu {
        justify-content: center;
    }
    #loginBtn {
        width: 5%;
    }
    #registerBtn {
        width: 14.5%;
    }
    #mainMenuBtn {
        width: 10%;
    }
    input {
        width: 7%;
        text-align: start;
    }
}