@media (min-width: 1px) and (max-width: 368px) {
    h1 {
        text-align: center;
        margin-top: 40vh;
        font-size: 7vh;
        color: red;
    }
}
@media (min-width: 369px) and (max-width: 560px) {
    h1 {
        text-align: center;
        margin-top: 40vh;
        font-size: 7vh;
        color: red;
    }
}
@media (min-width: 561px) and (max-width: 769px) {
    h1 {
        text-align: center;
        margin-top: 40vh;
        font-size: 9vh;
        color: red;
    }
}
@media (min-width: 769px) and (max-width: 950px) {
    h1 {
        text-align: center;
        margin-top: 40vh;
        font-size: 9vh;
        color: red;
    }
}
@media (min-width: 951px) and (max-width: 1300px) {
    h1 {
        text-align: center;
        margin-top: 40vh;
        font-size: 9vh;
        color: red;
    }
}
@media (min-width: 1301px) {
    h1 {
        text-align: center;
        margin-top: 40vh;
        font-size: 15vh;
        color: red;
    }
}