* {
    color: white;
    font-family: 'creepster', serif;
}



@media (min-width: 1px) and (max-width: 368px) {
    header {
        display: flex;
        width: 100%;
        height: 15vh;
        margin-top: 2vh;
        margin-left: 3.5vw;
    }
    .title {
        width: 20vw;
        height: 100%;
        font-size: 3vh;
        margin-right: 10vw;
    }
    .icon {
        font-size: 4vh;
    }
    .icons {
        width: 15vw;
        height: 100%;
        margin-right: 15vw;
        padding-top: 1vh;
    }
    
    body{
        height: 60vh;
        border: 1px;
    }
    
    .homeMenu {
        height: 100%;
        margin-left: 15vw;
        font-size: 3vh;
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;
    }
    
    a {
        text-decoration: none;
    }
    
    footer {
        display: flex;
        height: 10vh;
        margin-bottom: 5vh;
        width: 100%;
    }
    .version {
        width: 35vw;
        height: 100%;
        margin-left: 15vw;
        font-size: 2vh;
        
    }
    .company {
        width: 35vw;
        height: 100%;
        margin-right: 15vw;
        text-align: right;
        font-size: 2vh;
    }
    
    .logout{
        border-style: none;
        font-size: 3vh;
        padding: 0;
    }
}


@media (min-width: 369px) and (max-width: 560px) {
    header {
        display: flex;
        width: 100%;
        height: 20vh;
        margin-top: 3vh;
    }
    .title {
        width: 70vw;
        height: 100%;
        font-size: 3vh;
        margin-left: 2%;
    }
    .icon {
        font-size: 3vh;
    }
    .icons {
        width: 15vw;
        height: 100%;
        margin-right: 13vw;
        padding-top: 3vh;
    }

    body{
        height: 60vh;
        border: 1px;
    }

    .homeMenu {
        height: 100%;
        margin-left: 15vw;
        font-size: 3vh;
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;
    }

    a {
        text-decoration: none;
    }

    footer {
        display: flex;
        height: 10vh;
        margin-bottom: 5vh;
        width: 100%;
    }
    .version {
        width: 35vw;
        height: 100%;
        margin-left: 15vw;
        font-size: 1.5vh;
        
    }
    .company {
        width: 35vw;
        height: 100%;
        margin-right: 15vw;
        text-align: right;
        font-size: 1.5vh;
    }

    .logout{
        border-style: none;
        font-size: 3vh;
        padding: 0;
    }
}
@media (min-width: 561px) and (max-width: 768px) {
    header {
        display: flex;
        width: 100%;
        height: 20vh;
        margin-top: 3vh;
        margin-left: 5vw;
    }
    .title {
        width: 40vw;
        height: 100%;
        font-size: 4vh;
        text-align: center;
    }
    .icon {
        font-size: 4vh;
    }
    .icons {
        width: 15vw;
        height: 100%;
        margin-right: 4vw;
        padding-top: 4vh;
        margin-left: 5vw;
    }

    body{
        height: 60vh;
        border: 1px;
    }

    .homeMenu {
        height: 100%;
        margin-left: 15vw;
        font-size: 3vh;
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;
    }

    a {
        text-decoration: none;
    }

    footer {
        display: flex;
        height: 10vh;
        margin-bottom: 5vh;
        width: 100%;
    }
    .version {
        width: 35vw;
        height: 100%;
        margin-left: 15vw;
        
    }
    .company {
        width: 35vw;
        height: 100%;
        margin-right: 15vw;
        text-align: right;
    }

    .logout{
        border-style: none;
        font-size: 3vh;
        padding: 0;
    }
}
@media (min-width: 769px) and (max-width: 950px) {
    header {
        display: flex;
        width: 100%;
        height: 20vh;
        margin-top: 3vh;
        margin-left: 5vw;
    }
    .title {
        width: 40vw;
        height: 100%;
        font-size: 4vh;
        text-align: center;
    }
    .icon {
        font-size: 4vh;
    }
    .icons {
        width: 15vw;
        height: 100%;
        margin-right: 4vw;
        padding-top: 4vh;
        margin-left: 5vw;
    }

    body{
        height: 60vh;
        border: 1px;
    }

    .homeMenu {
        height: 100%;
        margin-left: 15vw;
        font-size: 3vh;
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;
    }

    a {
        text-decoration: none;
    }

    footer {
        display: flex;
        height: 10vh;
        margin-bottom: 5vh;
        width: 100%;
    }
    .version {
        width: 35vw;
        height: 100%;
        margin-left: 15vw;
        
    }
    .company {
        width: 35vw;
        height: 100%;
        margin-right: 15vw;
        text-align: right;
    }

    .logout{
        border-style: none;
        font-size: 3vh;
        padding: 0;
    }
}

@media (min-width: 951px) and (max-width: 1300px) {
    header {
        display: flex;
        width: 100%;
        height: 20vh;
        margin-top: 3vh;
        margin-left: 5vw;
    }
    .title {
        width: 40vw;
        height: 100%;
        font-size: 4vh;
        text-align: center;
    }
    .icon {
        font-size: 4vh;
    }
    .icons {
        width: 15vw;
        height: 100%;
        margin-right: 4vw;
        padding-top: 4vh;
        margin-left: 5vw;
    }

    body{
        height: 60vh;
        border: 1px;
    }

    .homeMenu {
        height: 100%;
        margin-left: 15vw;
        font-size: 3vh;
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;
    }

    a {
        text-decoration: none;
    }

    footer {
        display: flex;
        height: 10vh;
        margin-bottom: 5vh;
        width: 100%;
    }
    .version {
        width: 35vw;
        height: 100%;
        margin-left: 15vw;
        
    }
    .company {
        width: 35vw;
        height: 100%;
        margin-right: 15vw;
        text-align: right;
    }

    .logout{
        border-style: none;
        font-size: 3vh;
        padding: 0;
    }
}

@media (min-width: 1301px) {
    header {
        display: flex;
        width: 100%;
        height: 20vh;
        margin-top: 3vh;
        margin-left: 13.5vw;
    }
    .title {
        width: 33vw;
        height: 100%;
        font-size: 4vh;
    }
    .icon {
        font-size: 3vh;
    }
    .icons {
        width: 15vw;
        height: 100%;
        margin-right: 15vw;
        padding-top: 4vh;
    }

    body{
        height: 60vh;
        border: 1px;
    }

    .homeMenu {
        height: 100%;
        margin-left: 15vw;
        font-size: 3vh;
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;
    }

    a {
        text-decoration: none;
    }

    footer {
        display: flex;
        height: 10vh;
        margin-bottom: 5vh;
        width: 100%;
    }
    .version {
        width: 35vw;
        height: 100%;
        margin-left: 15vw;
        
    }
    .company {
        width: 35vw;
        height: 100%;
        margin-right: 15vw;
        text-align: right;
    }

    .logout{
        border-style: none;
        font-size: 3vh;
        padding: 0;
    }
}

.no-highlight{
    user-select: none;
    -moz-user-select: none; 
    -webkit-text-select: none;
    -webkit-user-select: none;
}